.rocket {
  display: flex;
  column-gap: 20px;
}

.rocket-image {
  width: 27%;
}

.rocket-description {
  font-size: 1.2em;
  font-weight: 500;
}

button {  
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.reserved-badge {
  float: left;
  padding: 1px 5px;
  background-color: #18a2b8;
  color: #f7fcfc;
  border-radius: 10%;
  margin-right: 5px;
}

.reserve-button {
  background-color: #007bff;
  color: #fff;
}

.reserve-button:active {
  background-color: #0069da;
}

.reserve-button:hover {
  background-color: #0071eb;
}

.cancel-button {
  border: 1px solid #6f777f;
  color: #6d757d;
  background-color: #fff;
}
