li{
  list-style: none;
}

li.logo {
  display: flex;
}

li.logo img {
  width: 60px;
}

ul.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav{
  display: flex;
  align-items: center;
}

ul.nav li {
  padding-left: 40px;
  color: #017BFE;
}

li.divider {
  font-size: 26px;
  font-weight: lighter;
}
