a {
  text-decoration: none;
}

li {
  list-style: none;
}

li.logo {
  display: flex;
}

li.logo img {
  width: 60px;
}

ul.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav {
  display: flex;
  align-items: center;
}

ul.nav li,
.nav-item {
  padding-left: 40px;
  color: #017bfe;
}

li.divider {
  font-size: 26px;
  font-weight: lighter;
}

.active {
  text-decoration: underline;
}
