@import url('https: //fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500&display=swap');

body{
  font-family: "Lato", sans-serif;
}

li{
  list-style: none;
}

li.logo {
  display: flex;
  align-items: center;
}

li.logo img {
  width: 70px;
}

ul.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-left: 0;
  border-bottom: 1px solid #bdbdbd;
}

.nav{
  display: flex;
  align-items: center;
}

ul.nav li {
  padding-left: 24px;
}

a.active {
  border-bottom: 1px solid;
}

ul.nav li a {
  text-decoration: none;
  color: #017BFE;
}

.divider {
  font-size: 17px;
  font-weight: lighter;
  padding-left: 24px;
}

h3.logo-text {
  padding-left: 20px;
  font-weight: 400;
  font-size: 25px;
}
